h1{ font-size: 30px;

font-family:  Helvetica, sans-serif;
font-display: bold;
text-align:  center; 
} 

a{
  color: white;
}

*{
  box-sizing: border-box;
}

.colunm{

  flex: 33.33%;
  padding: 5px;

}
.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}